<!DOCTYPE html>
<html>
<head>
 <title></title>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Upcoming NBA Games</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="/static/index.css">
 <style>
 
    td {
           width: 150px;
           text-align: center;
           border: 1px solid black;
           padding: 5px;
         }
   </style>
</head>
<body>

    <div class="container">
<div class="jumbotron text-center">
<h1>Upcoming NBA Games and Predictions</h1>
<p><a class="btn btn-primary btn-lg" href="/addition" role="button">Update!</a></p>
</div>
    

<table>
  <thead>
    <tr>
        <th>vehicle ID</th>
        <th>current timestamp</th>
        <th>expiry timestamp</th>
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<br><br><p align="center"><a href=search ><button class="btn btn-primary">Search History by Team Abbreviations</button></a></p>


<div class="container">


        <table>
            <thead>
              <tr>
                  <th>vehicle ID</th>
                  <th>current timestamp</th>
                  <th>expiry timestamp</th>
              </tr>
              </thead>    
              <tbody>
               {% for row in data2 %}    
                      <tr>
                          <td>{{row[0]}}</td>
                          <td>{{row[1]}}</td>
                          <td>{{row[2]}}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        
        </div>

</body>
</html>